.gallery {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px,1fr));
  gap: 16px;
  justify-content: center;
  box-sizing: border-box;
  grid-row: 3;
  grid-column: 1/-1;
}


@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-column: 2/3;
    gap: 14px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
}