.gallery {
  width: calc(100% - 96px);
  margin: 0 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px,1fr));
  gap: 14px;
  justify-content: center;
  box-sizing: border-box;
}

.gallery__item {
  max-width: 100%;
  padding-bottom: 75%;
}