.places {
  width: calc(100% - 2 * 100px);
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: calc(100% - 2 * 24px);
  }
}

@media screen and (max-width: 640px) {
  .places {
    width: 100%;
    row-gap: 50px;
  }
}