.cover__subtitle {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  width: calc(100% - 2 * 100px);
  max-width: 360px;
}

@media screen and (max-width: 500px) {
  .cover__subtitle {
    width: calc(100% - 32px);
    font-size: 14px;
    line-height: 16px;
  }
}