.content {
  width: calc(100% - 96px);
  max-width: 1184px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 92px;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .content {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .content {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .content {
    row-gap: 64px;
    max-width: calc(100% - 23px);
  }
}