.cover {
  width: 100%;
  max-width: 1184px;
  height: calc(0.625 * 100vw);
  background: url("../../images/cover-bg.jpg") center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
}

.cover:hover::before {
  background-color: hsla(216, 6%, 17%, .8);
}

.cover::before {
  background-color: hsla(216, 6%, 17%, .3);
  width: 100%;
  height: 100%;
  z-index: -1;
  content: " ";
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
}

@media screen and (min-width: 1185px) {
  .cover {
    height: 740px
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-left: -48px;
    width: calc(100% + 96px);
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-left: -24px;
    width: calc(100% + 48px);
  }
}

@media screen and (max-width: 340px) {
  .cover {
    margin-left: 0;
    width: 100%;
  }
}