.place__link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: hsla(0, 0%, 100%, 1);
  border-bottom: 1px solid hsla(0, 0%, 100%, 1);
}

.place__link:hover {
  color: hsla(0, 0%, 100%, .8);
  border-bottom: 1px solid hsla(0, 0%, 100%, .8);
}