@import url(../vendor/font-inter/inter.css);

@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/places/places.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/footer/footer.css);


* {
  outline: 1px solid red;
}

.page {
  background-color: hsla(216, 6%, 17%, 1);
  /*min-width: 928px;*/
  margin: 0 auto;
  color: hsla(0, 0%, 100%, 1);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  row-gap: 92px;
  min-width: 400px;
}